.Tracklist {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px;
  max-height: 400px;
  overflow-y: auto;
}

.Tracklist p {
  text-align: center;
  color: #666;
  font-size: 1em;
}
